NEXT_PUBLIC_LIT_NETWORK=datil-dev
NEXT_PUBLIC_NEAR_NETWORK=testnet
NEXT_PUBLIC_NEAR_CONTRACT_ID=neuralvault.testnet
NEXT_PUBLIC_WALLETCONNECT_PROJECT_ID=8a4f0b2f5d97f37475f463c6543b57e7
NEXT_PUBLIC_STORACHA_EMAIL=your@email.com
NEXT_PUBLIC_IMPULSE_AI_API_KEY=your_impulse_ai_key_here
NEXT_PUBLIC_APP_NAME=NeuralVault
